/*Tyler Wiggins and Vrijesh Patel
    This is our own work
    Minesweeper.IO project for CST-247
    This handles all of our Minesweepers websites css
*/
/*#Back {
    background: blue;*/ /* will apply color */
/*}
.Back {
    background: blue;*/ /* will apply color */
/*}
NewCenter{
    align-items:center;
}
body {
    padding: 0;
    margin: 0;
    background: blue;*/ /* will apply color */
/*}
form{
    background-color: blue;
}*/

/*Sets the size of all the text areas*/
input,
select,
textarea {
    border: 3px solid #222 !important;
    max-width: 280px;
}

    /*CSS for all the  buttons in this application, makes them all look the same*/
    button, input[type="button"], input[type="submit"] {
        color: black;
        font: bold 84% 'trebuchet ms',helvetica,sans-serif;
        background-color: lime;
        border: 1px solid;
        border-color: black;
        width: 20vw;
        height: 30px;
        border-radius: 10px;
        margin: 20px;
        text-align: center;
    }

        /*Makes cool hover effect for all the buttons*/
        button:hover, input[type="submit"]:hover, input[type="button"]:hover {
            background-color: cyan;
            border: 2px solid;
        }

/*Handles all the login and register form background stuff*/
.form-horizontal {
    border: 5px lime;
    background-color: #0000FF;
    border: 20px solid lime;
    color: #ffffff;
    margin-left: 1.6rem;
    padding: 0;
    align-items: center;
    text-align: center;
    max-width: 48rem;
    /*position: fixed;
    top: 50%;
    left: 50%;*/
    /* bring your own prefixes */
    /*transform: translate(-50%, -50%);*/
}

/*Makes the titles and labels look cool*/
.form-title {
    background-color: #000000;
    color: cyan;
    padding: 0.8rem;
}

/*Handles all the text formatting*/
.form-data, .form-label, .form-group.validation {
    padding: 0.5rem;
}

    .form-data input, .form-data select, .form-data textarea {
        min-width: 50%;
        max-width: 60%;
        height: 2.4rem;
    }
   #Age{

        align-items :center;


    }

.text-danger {
    color: #FF0000;
    margin-left: 0.8rem;
    padding: 0.8rem;
}

/*Adds a cool rim around the gameboard*/
.game-board {
    border: 5px solid cyan;
    margin: auto;
}
/*Manages the image sizes*/
img {
    height: 35px;
    width: 35px;
    border: none;
    padding: 0px;
}

/*Manages the buttons, baord and cell CSS*/
.game-button {
    background-size: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: cyan;
}

.game-board-cell {
    margin: 0px;
    text-align: center;
    height: 36px;
    width: 36px;
    padding: 0;
}

.game-board-row {
    margin: 0px;
    background-color: lime;
    padding: 0;
}

.game-title, .game-menu {
    text-align: center;
}

.game-menu {
    margin-top: 1.6rem;
}

.menu {
    padding: 0.4rem 0.8rem;
    background-color: #222222 !important;
    width: 100%;
}

.menu-item {
    font-family: 'Arial Black', Arial;
    padding: 0.8rem;
}

    .menu-item a {
        color: lime;
    }

        .menu-item a:hover {
            color: cyan;
        }

.clear {
    float: none;
}

.footer {
    background-color: #222222;
    bottom: 0;
    color: cyan;
    font-family: 'Arial Black', Arial;
    left: 0;
    padding: 0.4rem;
    position: fixed;
    right: 0;
    text-align: center;
}

/*Handles all the game selection menus*/
.game-board-options {
    padding: 0.4rem;
}

.game-board-option {
    border: 0.5rem solid cyan;
    background-color: lime;
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}

.game-board-options-label {
    background-color: black;
    border-bottom: 0.1rem solid #222222;
    color: cyan;
    font-weight: bolder;
    margin: 0;
    padding: 0.4rem;
}

.game-board-options-option {
    margin: 0;
    padding: 0.2rem;
}

#stopwatch {
    padding: 0.4rem;
    position: fixed;
    top: 0;
    right: 0;
    color: lime;
}

.game-menu button[type=submit] {
    margin-top: 0.8rem;
    min-width: 10rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lime;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}